@import "./GameSlider";
@import "./GameDetails";
@import "./GameAdditions";
@import "./SameSeries";

.Game {
  margin: 2rem 0;

  &-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 500px;
    column-gap: 0.5rem;
    padding: 0.5rem;
    background: $filter-nightblue;
    border-radius: 4px;

    h2 {
      position: absolute;
      top: -40px;
      z-index: 10000;
      font-size: $fs-regular;
      text-transform: capitalize;
    }
  }
}

@media (max-width: 768px) {
  .Game {
    &-wrapper {
      grid-template-columns: 100%;
      grid-template-rows: 0.4fr 0.6fr;
      grid-gap: 1rem;
    }
  }
}

@media (max-width: 480px) {
  .Game {
    &-wrapper {
      grid-template-rows: 0.6fr 0.4fr;
    }
  }
}