.Game {
  &-slider {
    user-select: none;

    .swiper {
      height: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    video {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }

    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        padding: 0.5rem 0.3rem;
        font-size: 1.5rem;
        background-color: $clr-dark;
        border-radius: 4px;
      }
    }
  }
}

@media (max-width: 768px) {
  .Game {
    &-slider {
      order: 2;
    }

    .swiper-button-prev,
    .swiper-button-next {
      &::after {
        font-size: 1rem;
      }
    }
  }
}