@import "./assets/vars";
@import "./assets/reset";
@import "./assets/utils";

@import "./components/layout/header";
@import "./components/layout/footer";

html {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 4px;
    user-select: all;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $clr-whiteTr;
    border-radius: 0.5rem;
  }
}

body {
  background-color: rgb(25, 40, 63);
}

.App {
  min-height: 100vh;
}